.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttons {
  height: 60px;
  width: 200px;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.sign-up {
  height: 50px;
  width: 150px;
  margin-top: 20px;
}

.userForm {
  margin-top: 15px;
  border: 2px solid black;
}

